:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
}
/* 212121 основной цвет
757575 серый цвет
2196F3 синий  */
/* FFFFFF белый */
/* 2F303A baner  */
/* F5F4FA вторичный цвет фона */

/* Лого */
.logo {
  color: #000000;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-span {
  color: var(--accent-color);
}
/* navigation Навигация сайта*/
.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation .link {
  color: var(--title-text-color);
  text-decoration: none;
}
.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-color);
}

.navigation .link.curent {
  color: var(--accent-color);
}

.tel-meil .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.tel-meil .link:hover,
.tel-meil .link:focus {
  color: var(--accent-color);
}
/* Шапка */
.baner {
  background-color: #2f303a;
}
.baner-title {
  color: var(--primery-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

/* section */

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Особенности */
.features-list .title {
  color: var(--title-text-color);
}

.features-list .text {
  font-size: 14px;
  line-height: 1.71;
}

/*  Чем мы занимаемся  */
.examples {
  list-style: none;
}

/*Наша команда  */

.comand .title {
  color: var(--title-text-color);
} /* button */

.button {
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-pt {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.button-pt:hover,
.button-pt:focus {
  background-color: #2196f3;
  color: var(--primery-white-color);
  cursor: pointer;
}

footer {
  background-color: #2f303a;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address-town {
  font-style: normal;
  color: var(--primery-white-color);
}

.project .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.project .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}
