:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primery-white-color: #ffffff;
  --baner: #2f303a;
}
html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--primery-white-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Лого */
.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-right: 95px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-span {
  color: #000;
}
/* navigation Навигация сайта*/

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list {
  display: flex;
  align-items: center;
}
.navigation-item {
  flex-direction: row;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.navigation-link.curent {
  color: var(--accent-color);
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact-item {
  min-width: 150px;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.contact-item:first-child {
  margin-right: 50px;
}
.contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
}
.curent::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -33px;
}
/* Шапка */
.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.baner-title {
  width: 696px;
  margin: 0 auto;
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.baner-button {
  border: transparent;
  font-family: inherit;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* section fetures */

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-align: center;
  margin-bottom: 50px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);

  margin-bottom: 10px;
}
/*  Чем мы занимаемся  */

/*Наша команда  */
.comand-section {
  background-color: #f5f4fa;
}
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.command-pre-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.comand-text {
  font-size: 16px;
  line-height: 1.19;
}

/* FOOTER */
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}
.logo-footer {
  color: var(--primery-white-color);
}
address {
  font-style: normal;
}
.footer-text {
  color: var(--primery-white-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer-link {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
}
.footer-container-studio .logo {
  margin: 0;
  padding: 0;
}

.footer-address {
  margin-top: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
/* Страница Портфолио */
.button-filter {
  border: transparent;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  padding: 6px 22px;
  border-radius: 4px;
  border-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter:hover,
.button-filter:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: #2196f3;
  color: var(--primery-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.project-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  transform: translateY(0);
}
.command-item {
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-item:not(:last-child) {
  margin-right: 30px;
}
.command-list,
.work-list,
.features-list {
  display: flex;
}
.team-box {
  padding: 30px 0;
  text-align: center;
}

.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item {
  position: relative;
}
.work-subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  padding-bottom: 0;
}

.filter-list {
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.box-icon {
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.envelope,
.smartphone {
  fill: currentColor;
  margin-right: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.socil-link {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socil-icon {
  fill: currentColor;
}
.socil-link:hover,
.socil-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.command-text {
  margin-bottom: 16px;
}
.client-list {
  display: flex;
}

.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #afb1b8;
  width: 172px;
  height: 92px;
  border: 1px #afb1b8 solid;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
  fill: currentColor;
}

.client-link:hover,
.client-link:focus {
  border: 1px var(--accent-color) solid;
  color: var(--accent-color);
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}
.footer-container {
  align-items: baseLine;
  display: flex;
}
.footer-join {
  margin-left: 70px;
}
.footer-join-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-join-item:not(:last-child) {
  margin-right: 10px;
}

.footer-join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-join-link:focus,
.footer-join-link:hover {
  background-color: var(--accent-color);
}
.footer-form {
  display: flex;
}
.footer-subscribe {
  margin-left: 93px;
}
.footer-form-input {
  padding: 15px 0 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--primary-background-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn-submit {
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-form-icon {
  margin-left: 10px;
}
.footer-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.backdrop {
  position: fixed;
  visibility: visible;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: 0;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.closse-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closse-icon:hover {
  fill: var(--accent-color);
}
.modal-form-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.modal-form-field {
  margin: 0 0 10px 0;
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
textarea {
  resize: none;
}
.modal-form-input {
  padding-left: 42px;
  padding-right: 15px;
  cursor: pointer;
}
.modal-form-input,
.modal-form-textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-icon {
  position: absolute;
  top: 13px;
  left: 12px;
  display: inline-block;
  fill: currentColor;
  color: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus ~ .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input:focus,
.modal-form-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-wrapper {
  margin: 4px 0 0 0;
  position: relative;
  display: block;
}

.modal-form-textarea {
  padding: 16px 12px;
  height: 120px;
  resize: none;
}
.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-label-checkbox {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-form-checkbox-icon {
  margin-right: 7px;

  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-input:focus + .modal-form-checkbox-icon {
  outline: 1px solid var(--accent-color);
}

.modal-form-checkbox-input:checked + .modal-form-checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-form-checkbox-text,
.modal-form-checkbox-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.modal-form-checkbox-link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-btn-submit {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  padding: 10px 55px;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn-submit:hover {
  background-color: #188ce8;
}
