.comand-section {
  background-color: #f5f4fa;
}
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.command-pre-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.comand-text {
  font-size: 16px;
  line-height: 1.19;
}
.command-item {
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command-item:not(:last-child) {
  margin-right: 30px;
}
.command-list {
  display: flex;
}
.command-text {
  margin-bottom: 16px;
}
.command-box {
  padding: 30px 0;
  text-align: center;
}
