.filter {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.filter__item {
  @media screen and (max-width: 767px) {
    margin-top: 15px;
  }

  &:not(:last-child) {
    margin-right: 8px;
  }
}
