.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
// `.navigation__item {
//   flex-direction: row;
// }
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.navigation-link.curent {
  color: var(--accent-color);
}
.contact {
  display: flex;
  margin-left: auto;
}
.contact-item {
  min-width: 150px;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.contact-item:first-child {
  margin-right: 50px;
}
.contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

.envelope,
.smartphone {
  fill: currentColor;
  margin-right: 10px;
}
