.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 576px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-mobile.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 577px) and (max-width: 960px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 961px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-desktop@2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__title {
  max-width: 360px;
  margin: 0 auto;
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}
