.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.form__field {
  margin: 0 0 10px 0;
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  &:nth-child(4) {
    margin-bottom: 20px;
  }
}
.form__input {
  padding-left: 42px;
  padding-right: 15px;
  cursor: pointer;
  & {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &:focus ~ .form__icon {
    fill: var(--accent-color);
  }
}

.form__icon {
  position: absolute;
  top: 13px;
  left: 12px;
  display: inline-block;
  fill: currentColor;
  color: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__wrapper {
  margin: 4px 0 0 0;
  position: relative;
  display: block;
}

.form__textarea {
  margin-top: 4px;
  padding: 16px 12px;
  height: 120px;
  resize: none;
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  & {
    display: block;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.agreement {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.agreement__icon {
  margin-right: 7px;

  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement__input:focus + .agreement__icon {
  outline: 1px solid var(--accent-color);
}

.agreement__input:checked + .agreement__icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.agreement__label,
.agreement__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.agreement__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal__submit {
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  padding: 10px 55px;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #188ce8;
  }
}
