.hero__button {
  border: transparent;
  font-family: inherit;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe__submit {
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  letter-spacing: 0.06em;
  color: var(--primery-white-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__filter {
  border: transparent;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  padding: 6px 22px;
  border-radius: 4px;
  border-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #2196f3;
    color: var(--primery-white-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
