.logo {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-right: 95px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-span {
  color: #000;
}

.logo-footer {
  color: var(--primery-white-color);
}
