.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &--no-paddig-bottom {
    display: none;

    @media screen and (min-width: $desktop) {
      padding-top: 0;
      display: block;
    }
  }
  &--background {
    background-color: #f5f4fa;
  }
}
.section__title {
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.166;
  }
}
