.social {
  display: flex;
  justify-content: center;

  &--no-indent {
    padding: 0;
    margin: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
  &--dark-bg {
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }
}

.social__icon {
  fill: currentColor;
}
